@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap');
h1 {
    text-align: center;
    font-size: 25px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: "Roboto", sans-serif;
}

p{
    font-family: "Big Shoulders Stencil", sans-serif;
    text-align: justify;
    text-indent: 10px;
    font-family: "Noto Sans Tagalog", sans-serif;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e17e20;
    width: 700px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    text-align: left;
}

.card h3 {
    font-size: 1.5rem;
}

.card img {
    width: 300px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}